/**  Styleguide  **/
$font-size-h1: 35px;
$font-size-header: 18px;
$font-size-card-header: 16px;
$font-size-checkbox-label: 14px;
$font-size-list: 16px;
$font-size-apdex: 13px;
$font-family-header: 'HelveticaNeue-Bold';
$font-family: 'HelveticaNeue';

/** color namer https://colornamer.robertcooper.me/ */
$font-color-black: #000;
$font-color-pinky-pickle: #5db9ff;
$font-color-shadowed-steel: #4a4a4a;
$font-color-white: #fff;
$font-color-apple-green: #7ed31f;

$space-s: 20px;
$space-m: 23px;
$space-x: 30px;
